* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    scroll-behavior: smooth;
}

/* Navbar */
header {
    position: fixed;
    width: 100%;
    background: #111;
    padding: 15px 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
}

.logo {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #00adb5;
}

/* Sections */
.section {
    padding: 100px 10%;
    min-height: 100vh;
    text-align: center;
}

/* Home */
.home {
    background: linear-gradient(to right, #00adb5, #222);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h1 span {
    color: yellow;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: black;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    padding: 15px 25px;
    background: #00adb5;
    color: white;
    border-radius: 5px;
}

/* Projects */
.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    width: 250px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background: #111;
    color: white;
    padding: 15px;
}

/* Animation */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media(max-width: 768px) {
    nav ul {
        flex-direction: column;
        background: #111;
        padding: 10px;
    }
}
